単語list
<%# <ul class='word-list'> %>
  <% @word.each do |w| %>  
   <%# <li class= 'list'> %> 
   <%# <div class='word-img-content'> %> 
     <%# <%= image_tag word.image, class: "word-img" %>
    
<div class='word-info'>
<span><%= w.speech.name %></span>
<span><%= w.word_name %></span>:
<span><%= w.meaning %></span>
<span><%= w.example %></span>
</div> 
<% end %> 
<%# </ul> %>
  
